<head><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"></head>
<nav>
    <div class="container">
        <img class="float-left" src="https://cdn.alterdata.com.br/pack/packup/Content/images/logo-topo-w.png"/>

        <div class="navbar float-left">
            <ul class="navbar-ul">
                <li class="dropdown"><a>Atendimentos <i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Atendimentos</li>
                        <li>Karoo</li>
                    </ul>
                </li>
                <li class="dropdown"><a>Documentos <i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Documentos Gerais</li>
                        <li>Avisos / Lembretes</li>
                        <li>CND</li>
                    </ul>
                </li>
                <li class="dropdown"><a>Departamento Pessoal <i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Funcionários</li>
                        <li>FolhaNet</li>
                        <li>Pré-admissão de funcionários</li>
                        <li>Agendamento de férias</li>
                        <li>Pré-demissão</li>
                    </ul>
                </li>
                <li class="dropdown"><a>Empresas</a>

                </li>
                <li class="dropdown"><a>Usuários</a>

                </li>
                <li class="dropdown"><a>Collect <i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Estabelecimentos</li>
                        <li>Estratos</li>
                        <li>Configuração de Integração</li>
                    </ul>
                </li>
                <li class="dropdown"><a>ERPforMe</a>

                </li>
            </ul>
        </div>

        <div class="icons float-rigth">
            <ul class="icons-ul">
                <li class="dropdown"><a><i class="fas fas24 fa-globe-americas"></i><i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Carregando Notificações</li>
                    </ul>
                </li>
                <li class="dropdown"><a><i class="fas fas24 fa-cog"></i><i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <li>Configurações</li>
                        <li>Layout</li>
                        <li>Layout de e-mails</li>
                        <li>Auditoria do Sistema</li>
                        <li>Ajuda</li>
                        <li>Sobre</li>
                    </ul>
                </li>
                <li class="dropdown"><a><i class="fas fas24 fa-user"></i><i class="fas fa-sort-down"></i></a>
                    <ul class="dropdown-item">
                        <img src="https://lh3.googleusercontent.com/iL9l2G9B81Ev-abdfRkxS4i32YAHD-0rPB68trWGkIgyRYyu1TiBnY3BG_ozAmSIE-Qj=s85">
                        <li class="title-name">ALTERDATA TECNOLOGIA LTDA</li>
                        <li>email@email.com.br</li>
                        <li>00.000.000/0000-00</li>

                        <div class="buttons">
                            <button><i class="far fa-user"></i> Perfil</button>
                            <button><i class="fas fa-sign-out-alt"></i> Sair</button>
                        </div>
                    </ul>
                </li>
            </ul>    
        </div>
    </div>
</nav>

